.container{
    display:flex;
}
header{
    width:100%;
}
header nav{
    color: transparent !important;
}
nav{
    text-align:center;
}
nav a{
    padding: 1em 2.53em;
    display: inline-block;
    color:#fff;
}