:root {
        --ic-brand-primary-darkened-5: #007DCC;
--ic-brand-primary-darkened-10: #0076C1;
--ic-brand-primary-darkened-15: #0070B6;
--ic-brand-primary-lightened-5: #0C89D8;
--ic-brand-primary-lightened-10: #198FDA;
--ic-brand-primary-lightened-15: #2695DC;
--ic-brand-button--primary-bgd-darkened-5: #003C81;
--ic-brand-button--primary-bgd-darkened-15: #003673;
--ic-brand-button--secondary-bgd-darkened-5: #B1CE0A;
--ic-brand-button--secondary-bgd-darkened-15: #9FB809;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #0076C1;
--ic-link-color-lightened-10: #198FDA;
--ic-brand-primary: #0083d6;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #0083d6;
--ic-brand-button--primary-bgd: #003f87;
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #bad80a;
--ic-brand-button--secondary-text: #003f87;
--ic-brand-global-nav-bgd: #003f87;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #003f87;
--ic-brand-global-nav-avatar-border: #0083d6;
--ic-brand-global-nav-menu-item__badge-bgd: #bad80a;
--ic-brand-global-nav-menu-item__badge-text: #003f87;
--ic-brand-global-nav-logo-bgd: #003f87;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_100000000102096/attachments/37322105/WWU-CanvasUI-Logos-180x180.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1939455340&Signature=Z2SZ25JFuNw%2BWr%2BlvrWoMwiXtI8%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://instructure-uploads.s3.amazonaws.com/account_100000000102096/attachments/40989890/favicon.ico');
--ic-brand-apple-touch-icon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-f2359ad914.png');
--ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-52212226d6.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #ffffff;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #ffffff;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_100000000102096/attachments/42527558/GLOG.png');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: #dee5e5;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #000000;
--ic-brand-Login-Content-password-text-color: #000000;
--ic-brand-Login-footer-link-color: #000000;
--ic-brand-Login-footer-link-color-hover: #0083d6;
--ic-brand-Login-instructure-logo: #000000;
      }